rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return resource != null && isOwner(userId);
    }

    function getRole() {
      return get(/databases/$(database)/documents/userProfiles/$(request.auth.uid)).data.role;
    }

    match /userProfiles/{userId} {
      allow get: if isOwner(userId) || (isSignedIn() && getRole() == 'admin');
      allow list: if isSignedIn() && getRole() == 'admin';
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if isExistingOwner(userId) && request.resource.data.id == resource.data.id;
      allow delete: if isExistingOwner(userId);

      match /bookmarks/{postId} {
        allow read, write: if isOwner(userId);
      }
      match /history/{postId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /posts/{postId}/comments/{commentId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.authorId;
    }

    match /posts/{postId} {
      allow read: if true;
      allow write: if isSignedIn();
    }

  }
}
